*{
    font-family: 'Poppins', sans-serif;
}

.Container {
    width: 375px;
    height: 92px;
    padding-top: 44px;
}

.ToolbarDark
{
    width: 375px;
    height: 48px;
    top: 44px;
    display: flex;
    justify-content: space-between;
    padding-top:4px;
    padding-bottom: 4px;

    padding-left: 12px;
    padding-right: 24px;
}

.MyLogoContainer
{
    width: 100px;
    height: 40px;
    top: 4px;
    left: 12px;


}
.MyLogo
{
    width: 76px;
    height: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    align-content: center;
    color: #6070FF;
    ;
}
.BurgerButtonContainer
{
    width: 40px;
    height: 40px;
    top: 4px;
    left: 311px;
    radius: 8px;
    padding: 8px;

}
.BurgerButtonContainer2
{
    width: 24px;
    height: 24px;
    padding-top:6px;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
}
.BurgerButton
{
    width: 18px;
    height: 12px;
    top: 4px;
    left: 3px;
    color: #6070FF;
}